.headerDiv {
    background-color: black;
    height: 70px;
    width: 100vw;
    display: flex;
}

.leftDiv {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.hamburgerButton {
  margin-left: 2vw;
  width: 24px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
}

.hamburgerButtonImage {
  width: 24px;
  height: 24px;
}

.hamburgerIcon {
  filter: invert(1);
}

.youtubeButton {
  margin-left: 2vw;
  background: none;
  border: none;
}

.middleDiv {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.searchbarDiv {
  height: 80%;
  width: 100%;
  
}

.searchbar {
  width:100%;
  height:100%;
  border: 2px solid gray;
  border-radius: 100px;
  display: flex;
}

.searchInput {
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 100px 0 0 100px;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: black;
}

.searchButton {
  width: 15%;
  height: 100%;
  border: none;
  border-radius: 0 100px 100px 0;
  background-color: light black;
  cursor: pointer;
}

.rightDiv {
  height: 100%;
  width: 25%;
}



.videoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

/* large tablets */
@media (max-width: 1200px) {
  .videoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* tablets */
@media (max-width: 900px) {
  .videoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 600px) {
  .videoGrid {
    grid-template-columns: 1fr;
  }
}



