.headerDiv {
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: flex;
}

.leftDiv {
  background-color: green;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.hamburgerButton {
  margin-left: 2vw;
  width: 24px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
}

.hamburgerButtonImage {
  width: 24px;
  height: 24px;
}

.youtubeButton {
  margin-left: 2vw;
}

.searchbarDiv {
  background-color: orange;
  height: 100%;
  width: 50%;
}

.rightDiv {
  background-color: blue;
  height: 100%;
  width: 25%;
}


