.mainDiv {
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
}

.header1 {
    font-size: 10vh;
}

.counterDiv {
    width: 200px;
    height: 100px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.counter {
    font-size: 50px;
}

.button {
    font-size: 50px;
}